* {
  font-family: Segoe UI;
  font-size: 12px;
}
.mui-autocomplete {
  position: relative;
}
#autocomplete {
  border: 1px solid silver;
  outline: none;
  margin: 0;
  background: #fff;
  z-index: 100;
  position: relative;
}

.autocomplete-result {
  border: 1px solid silver;
  border-top: 0;
  position: absolute;
  overflow: auto;
  max-height: 93px;
  background: #fff;
  z-index: 100;
  top: 26px;
}

#autocomplete,
.autocomplete-result {
  width: 200px;
  box-sizing: border-box;
}

#autocomplete,
.autocomplete-result p {
  padding: 4px;
  margin: 0;
  color: #000;
}

.autocomplete-result p:nth-child(2n + 1) {
  background: #f6f6f6;
}

.autocomplete-result p:hover {
  background: #e5e5e5;
}
.autocomplete-result-wrap {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  top: 0;
}
